body{
    background-color: hsl(216, 12%, 8%);
}
.thanks{
    color:  hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    padding: 3rem;
    margin-top: 40px;
}
.mine{
    color: hsl(0, 0%, 100%);
    margin-top: 40px;
}
.they{
    color:  hsl(217, 12%, 63%);
}
.your{
    background-color: hsla(217, 12%, 63%, 0.315);
    width: 70%;
    padding:10px;
    border-radius: 25px;
    border: none;
    margin: 0 auto;
    margin-top: 40px;
}